* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    padding-top: 240px;
    padding-bottom: 540px;
    font-size: 16px;
    color: #4e5050;
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url(../img/page-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}    
.wrapper {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    background-color: white;
}
.profile {
    padding-top: 15px;
    padding-bottom: 25px;
}
h1, h4 {
    color: #263555;
    font-weight: bold;
}
h1 {
    margin-bottom: 25px;
}
h4 {
    margin: 15px 0px;
}

.image {
    display: inline-block; 
    width: 100%;
}

.paragraf1, .paragraf3 {
    color: #263555;
    font-weight: bold;
    margin: 20px 0px;
}
.principles {
    padding: 25px 0px;
    width: 325px;
}

.divider{
    display: inline-block;
    width: 100%;
}
.offer {
    padding: 25px 0px;
}
.offer_text {
    margin-bottom: 40px;
}
.list {
    color: #263555;
    font-weight: bold;
    margin-left: 20px;
    column-count: 2;
}
li {
    list-style-type: none;
    height: 30px;
}


