* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    padding-top: 240px;
    padding-bottom: 540px;
    font-size: 16px;
    color: #4e5050;
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url(../img/page-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}    
.wrapper {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    background-color: white;
}
.profile {
    margin-bottom: 35px;
}
h2, h4 {
    color: #263555;
    font-weight: bold;
}
h2 {
    margin-bottom: 25px;
}
h4 {
    margin: 15px 0px;
}

.image {
    display: inline-block; 
    width: 100%;
}

.paragraf {
    color: #263555;
    font-weight: bold;
    margin: 20px 0px;
}
.principles {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
}
.principles li {
    list-style-type: none;
}
.offer {
    margin-top: 35px;
    margin-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #4e5050;
}
.offer-text {
    margin-bottom: 40px;
}
.list {
    color: #263555;
    font-weight: bold;
    margin-left: 20px;
    column-count: 2;
}
.item {
    list-style-type: none;
    margin: 4px;
}


